@model BusinessLayer.Register

@{
    ViewBag.Title = "Register";
}


<style>
    .danger {
        color: red;
    }

    .Register_Screen {
        padding: inherit;
        border: 1px solid;
        width: 302px;
        height: 202px;
        border-left-width: 1px;
        padding-top: 0px;
        margin-top: 80px;
        margin-bottom: 15px;
        margin-right: 0px;
        margin-left: 400px;
        height: 280px;
        width: 250px;
        background-color: white;
    }
</style>
<body style="background-color:#eeeeee;">
    <center class="Register_Screen">

        <h2>Register</h2>

        @using (Html.BeginForm("Register", "Login", FormMethod.Post))
        {
            <div>
                <table>
                    <tr>
                        <td>
                            @Html.LabelFor(x => x.Username)
                            @Html.TextBoxFor(x => x.Username)
                        </td>
                        
                    </tr>
                        <td class="danger">
                            @Html.ValidationMessageFor(x => x.Username)
                        </td>
                   
                        <tr>
                            <td>
                                @Html.LabelFor(x => x.Password)
                                @Html.PasswordFor(x => x.Password)
                            </td>
                        </tr>
                        <td class="danger">
                            
                            @Html.ValidationMessageFor(x => x.Password)
                        </td>
                    
                    <tr>
                        <td><br />
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Register" class="btn btn-default" />
                                </div>
                        </td>
                    </tr>

                </table>
            </div>

            <script src="~/Scripts/jquery-3.4.1.min.js"></script>
            <script src="~/Scripts/jquery.validate.min.js"></script>
            <script src="~/Scripts/jquery.validate.js"></script>
            <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        }
    </center>
    </body>
